{% extends 'base.html' %}
{% load static %}
{% block title %}Resume Management System | Registration Page{% endblock %}
{% block body %}
    <style>
    th{
        padding: 20px 0;
    }
    td{
        padding: 20px;
    }
    </style>
    {% if request.session.contact %}
    <div class="card m-4">
    <h3 class="bg-warning text-center">Profile Page</h3>
    <table align="center">
        <tr>
            <th>Hello User Welcome to your Profile..!!</th>
        </tr>
    </table>
    </div>
    {% else %}
{#    <h3 class="bg-warning text-center">Profile Page</h3>#}
    <div class="card m-4">
    <table align="center">
        <tr>
            <th class="text-danger p-2">You Don't have permisions to access this section Please, Login to see Your Profile..!!</th>
        </tr>
        <tr>
            <th><a href="{% url 'login' %}" class="btn btn-outline-primary m-2" style="float: right">Login</a></th>
        </tr>
    </table>
    </div>

    {% endif %}
{% endblock %}


